@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Varela+Round&display=swap');


body {
    background-size: 100vw;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:rgb(255, 255, 255);
    font-family: 'Varela Round', sans-serif;
}


h1, h3 {
    display:flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 20px 0 0 30px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 45vw;
    border: 1px solid orange;
    border-radius:9999px;
    background:linear-gradient(to right,rgb(300,300,300)0%, transparent 100%);
    box-shadow: 2px 0px rgb(255, 255,255 /30%);
    transform-style: preserve-3d;
    transition: .75s ease-in-out;

} 

.img button {
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 14px;
    width: 13vw;
    text-align: center;
    margin: 30px;
    padding: 20px;
    cursor: pointer;
    color: black;
    transition: .5s ease-in-out;
    border-radius: 5px;
    border: .1px solid rgb(300, 255, 255 );
    background:linear-gradient(135deg,orange, hsl(43, 74%, 66%), transparent 100%);
    backdrop-filter: blur(10px);
    box-shadow: 2px 0px rgb(255, 255,255 /30%);
    transform-style: preserve-3d;
    transition: .75s ease-in-out;

}

.img button:hover {
    background: orange;
    color: white;
    border:1px solid orange;
}

img {
    border-radius: 9999px;
    max-width: 300px;
    max-height: 300px;
}

.img {
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
}